{{- $gitUsername := or (env "GIT_USERNAME") (promptStringOnce . "gitUsername" "GitHub username") -}}
{{- $gitEmail := or (env "GIT_EMAIL") (promptStringOnce . "gitEmail" "GitHub email") -}}

[data]
gitUsername = {{ $gitUsername | quote }}
gitEmail = {{ $gitEmail | quote }}
