{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}

if [ -n "$CI" ]; then
  echo "Skipping brew bundle in CI"
  exit 0
fi

if ! command -v brew &> /dev/null; then
  echo "Homebrew not found. Skipping brew bundle."
  exit 0
fi

brew bundle --file={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
{{ end -}}
